* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding: 10px;
    background-color: lightgreen;
    height: 50px;
    border: 3px solid #a18cd1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    color: black;
}

header nav a:hover {
    color: #a18cd1;
    font-weight: bolder;
}

#portada img {
    width: 100%;
}


/*flexbox*/
.container-flex {
    flex-direction: row-reverse; /*row|column*/
    border: 1px solid red;
    display: flex;
    background-color: beige;
    justify-content: space-evenly; /*alinea el contenido */
    /* height: 400px; */
    /* align-items: flex-start; */
    /* width: 50%; */
    flex-wrap: wrap; /*nowrap*/

}

.container-item {
    width: 100px;
    height: 50px;
    border: 2px solid yellow;
    background-color: aqua;
}

/*media query: me sirve para cambiar los estilos cuando cambia la resolucion*/
@media screen and (max-width:600px) {
    .container-flex {
        flex-direction: column;
        background-color: blueviolet;
    }
    .container-item {
        font-size: 2em;
        color:blue
    }
}

section {
    height: 650px;
    /* border: 1px solid blue; */
    /* margin: 10px; */
    display: flex;
    padding: 10px;
    align-items: center;
}

section img {
    margin: 15px;
    width: 50%;
}

/*estilos para las section */
main section:first-child {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

main section:last-child {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

/*:nth-child(2)*/
main section:nth-child(2) {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
/*
section:nth-child(odd) {
    background-color: rgb(255, 204, 0);
}
section:nth-child(even) {
    background-color: rgb(0, 255, 4);
}
section:first-child {
    background-color: rgb(255, 100, 0) !important;
}
*/
/*:nth:child(3n+1) : TPH*/

/*html:*/
html {
    scroll-behavior: smooth;
}